<div class="card">
    <div class="card-header">
        <strong>Filters</strong>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                    <label for="from">From</label>
                    <input type="number" id="from" class="from-control">
            </div>

            <div class="from-group">
                <label for="to">TO</label>
                <input type="number" id="to" class="from-control">
            </div>
        </form>
    </div>
</div>